<% layout("layouts/boilerplate")%>


<div class="login-card">
    <h2 class="login-title">Login</h2>

    <form action="/login" method="POST">
      
      <label class="form-label">Username</label>
      <input type="text" name="username" class="form-control" required>

      <label class="form-label">Password</label>
      <input type="password" name="password" class="form-control" required>

      <button type="submit" class="btn-pink">Login</button>
    </form>

    <div class="extra-options">
      <p>Don't have an account? <a href="/signup">Sign Up</a></p>
    </div>
  </div>